body {
  /*padding: 50px;*/
  font: 17px Courier, serif;
  color: #00B7FF;
}

a {
  color: #00B7FF;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #00B7FA;
  text-decoration: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #FFFFFF;
}
